html, body {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#list {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
}

